<!--The content below is only a placeholder and can be replaced.-->
<div class="content">
  <h1>test data</h1>
  <p>
    Ethereum data
  </p>
  <h2 *ngIf="connection">Not connection to rpc</h2>
  <button (click)="createNewAccount()">Create new account for Etherum wallet</button>
  <p *ngFor="let item of info">{{ item.el }} = {{item.value}}</p>

  <button (click)="saveFile()">Save file into brouser</button>
  <button (click)="getFileFromPc()">Upload  file into user PC</button>
  <button (click)="changeLocalStore()">Change local store</button>

  <div>
    <qr-code [value]="'test data on qr code'" [padding]='1' [size]="152" mime="image/png" #qr></qr-code>
  </div>
  <a  [href]="qr.elementRef.nativeElement.childNodes[0].currentSrc" download = 'reddot.png'>Save image in local</a>
</div>

